body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;

}

nav {
    padding: 10px 30px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    position: relative;
    height: 70px;
    text-align: center;
}

.goal-nav {
    color: black;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
}

.home {
    background-color: #2C9652;
    height: 500px;
    margin-top: -40px;
    color: white;
}

.home-con {
    padding-top: 50px;
}

.home h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 3em;
}

.home-para {
    text-align: center;
    font-size: 20px;
}


.goals-header,
.plan-header {
    text-align: center;
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.con-1,
.con-2 {
    border: 1px solid black;
    width: 320px;
    height: 300px;
    margin-top: 20px;
    border-radius: 15px;
}

.con-2 {
    height: 250px;
}

.plan {
    margin-top: 100px;
}

.con-1 i,
.con-2 i {
    color: #2C9652;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.con-header {
    text-align: center;
}

.con-para {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.con-para2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.profile {
    background-color: #2C9652;
    margin-top: 30px;
}

img {
    margin-left: 500px;
    margin-top: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.profile p {
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

p a:hover {
    text-decoration: underline;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        position: relative;
        right: 90px;
    }

    img {
        position: relative;
        right: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        position: relative;
        right: 160px;
    }

    img {
        position: relative;
        right: 50px;
        width: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        padding-left: 210px;
    }
    img {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    body{
        /* overflow-x: hidden; */
    }
    .container {
    }
    /* img {
    margin-left: 300px;
    } */
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 801px) {
    .con-1 {
        height: 340px;
    }
    .con-2 {
        height: 300px;
    }

    img{
    /* margin-left: 130px; */
    }
}


@media (max-width:767px) {
    body {
        overflow-x: hidden;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: antiquewhite;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }

}